* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 10vw;
  text-align: center;
  margin-top: 20px;
  color: #333;
}
.contenu {
  flex: 1 0 auto;
}
.contenu p {
  padding: 5vw 10vw;
  text-align: justify;
}
footer {
  flex-shrink: 0;
  border-top: 1px dashed #000;
  width: 100%;
  background: #f1f1f1;
  color: #333;
}
.contenu-footer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  padding: 50px 0 100px;
}
.bloc {
  width: 25%;
  margin: 0 30px;
}

/* Contact */
.footer-contact h3,
.footer-services h3,
.footer-horaires,
.footer-medias h3 {
  font-size: 25px;
  padding-bottom: 20px;
}

/* Services */

.liste-services,
.liste-horaires,
.liste-media {
  list-style-type: none;
}
.liste-services li {
  padding: 2px 0;
}
.liste-services a {
  text-decoration: none;
  color: #333;
}
.liste-services a:hover {
  color: rgb(3, 3, 3);
}

/* Medias */

.liste-media {
  position: relative;
  right: 10px;
}

.liste-media img {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  font-size: 25px;
}

/* Media queries */

@media screen and (max-width: 1300px) {
  .contenu-footer {
    width: 700px;
    flex-wrap: wrap;
  }
  .bloc {
    width: 40%;
    margin: 0 0;
  }

  .bloc:nth-child(1) .bloc:nth-child(2) {
    margin-bottom: 50px;
  }
}
